@use "sass:map";
@use "../../../../style/variable" as * ;
.mansory1{
  width: 100%;
  height: 96vh;
  margin-top: 10px;
  // background-color: aqua ;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 8px;
  
  
  div {
    cursor: pointer;
    overflow: hidden;
    width: auto;
    height: auto;
  
    
  }


div:nth-child(1) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
}

div:nth-child(2) {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
}

div:nth-child(3) {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 10;
}

div:nth-child(4) {
    grid-column: span 3 / span 3;
    grid-row: span 7 / span 7;
    grid-column-start: 10;
    grid-row-start: 6;
}

div:nth-child(5) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 5;
}

div:nth-child(6) {
    grid-column: span 9 / span 9;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 9;
}

div:nth-child(7) {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 4;
}
        





 }

.mansory1 img{
  width: 100%;
  height: 100%;
 object-fit: cover;
 transition: all 300ms ease-in;
}


.mansory1 img:hover{
  transform: scale(1.1);
  border: 2px solid #3E76EE;
}
