.review{
    width: 70%;
    height: 30px;
    // background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;




.separateur{
    width: 2px;
    height: 30px;
    background-color: #9F9F9F;
}

 p{
      font-family: "Poppins", sans-serif;
    font-weight: 500;
    font: size 14px;
    color: #9F9F9F;
    margin-left: 10px;


}




}

