@use "sass:map";
@use "./_variable" as *;

body{
  background:white;
  display: flex;
  width: 100%;
  height: 150vw;
  flex-direction: column;
}

header{
  background-color: white;
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .home_left{
    margin-left: 2vw;
    width: 180px;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
}

  .home_left span{
  color:map.get($theme-colors,"primary");
  font-size: 3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: -7px
  };


  nav{
    width: 25vw;
    height: 25px;
    // border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navStyle{
  color: rgb(17, 17, 17);
  font-family: "poppins",sans-serif;
  font-size: medium;
  text-decoration: none;
}

.activeNavStyle{
  color: white;
  background-color:map.get($theme-colors,"primary") ;
  font-family: "poppins",sans-serif;
  font-size: medium;
  text-decoration: none;
  padding: 10px 10px ;
  // border: 3px solid black;
  border-radius: 50px;

}
  
  .home_right{
    margin-right: 5vw;
    width: 10vw;
    // border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  // .home_right img{
  //   width: 30px;
  //   height: 30px;
  // }

}

main{
  background-color: blue;
  width: 100%;
  height: 80%;
}
footer{
  background-color: yellow;
  width: 100%;
  height: 20%;
}
