@use "sass:map";
@use "../../../style/variable" as * ;

.mainAbout{
//   background-color: rgb(57, 57, 100);
  width: 100%;
  height: 300vh;

.bannier{
 width: 100%;
 height: 450px;   
 background-image: url(/img/postive-caring-relationships-teachers.png) ;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 90px;
    color:white
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:white;
    text-align: center;
    width: 50%;
    

}

}  

.presentation{
    width:100%;
    height: calc(100% - 430px);  
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .titre{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color:rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    }

}


}