
.description{
    width:400px;
    height: max-content;
    // background-color: rgb(92, 81, 67);
    margin-top: 10px;
     font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #0f0f0f;
    margin-top: 20px;
    line-height: 25px;
}