@use "sass:map";
@use "../../../style/variable" as * ;

.mainShop{
  // background-color: blue;
  width: 100%;
  height: 290vh;

.publicite{
 width: 100%;
 height: 300px;
//  background-color: blue;   
 background-image: url(../img/shopBanier.png);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;



 .shopPage{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px
}

  .shopNav{
    display: flex;
    flex-direction: row;
    width: 100px;
    // background-color: aqua;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    }

    .shopNav a{
    list-style: none;    
    color: black;
    text-decoration: none;
}    

.shopNav span:nth-child(3){
    color: rgb(99, 99, 98);
}    





}

.filtreAndSearch{
  width: 100%;
  height: 60px;
  background-color: #FFEAD1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
  
  .filtre{
     width: 400px;
     height: 100%;
    //  background-color: aqua;
     margin-left: 30px;
     display: flex;
     flex-direction: row;
     align-items: center;
  }

  .filtreIcon{
    width: 170px;
    height: 50%;
    // background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .filtreIcon  div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   .filtreIcon  div:nth-child(1) span{
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px
   }

  .filtreIcon img{
    width: 20px;
    height: 20px;
    cursor: pointer;
 }


  .filtreIcon img:hover{
    scale:1.2 ;
 }
 .separateur{
    width: 2px;
    height: 50%;
    background-color: black;
    margin-right: 10px;
 }


 .pageView{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px

 }




  .searchBar{
     width: 200px;
     height: 50%;
     background-color: rgb(255, 255, 255);
     margin-right: 60px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
  }

  .searchBar input{
    width: 160px;
    height: 100%;
    border: 0px solid rgba(0, 0, 0, 0) ;
    // margin-left: 5px;
    padding-left:3px ;
    

  }

  .searchBar input:focus{
   outline: none;
    }

//     ::placeholder {
//   color: blue;
// }

  .searchBar button{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: #ffffff00;
    cursor: pointer;

  }


  .searchBar button:hover{
   scale:1.2;

  }
  .searchBar img{
    width: 100%;
    height: 100%;
    // margin-right: 10px;

  }
}

.listeProduit{
    width: 100%;
    height: 189vh;
    // background-color: chocolate;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  .produit{
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    // background: #000;
    gap: 30px;

  }

  .baniere{
    width: 100%;
    height: 300px;
   background-color: #FAF3EA;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
  }

  .ban{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qualite{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.qualite span:nth-child(1){
margin-bottom: 10px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 20px;
color:#242424
}


.qualite span:nth-child(2){
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 15px;
   color: #898989;

}

}